@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="/decafIcon.png" id="icon" alt="User Icon" />
        </div><br>
        <hgroup class="title">
            <h4>@ViewBag.Title.</h4>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
        <p>
            @Html.ActionLink("Back to Login Page", "Login")
        </p>
        <div id="formFooter">
            <p>&copy; @DateTime.Now.Year - Decaf IT Solutions</p>
        </div>
    </div>
</div>
	
